[Desktop Entry]
Version=1.0
Type=Application
Name=Theme Mode
GenericName=jrs
Comment=Dark or Light
Exec=bash themeMode.sh
Icon=preferences-desktop-theme
Path=~/.config/jrs
Terminal=false
