@define-color base00 #7d7d7d;
@define-color base01 #1a1b26;
@define-color base02 #ffffff;
@define-color base03 #313131;
@define-color base04 #900000;
@define-color base05 #a08000;
@define-color base06 #ffffff;
@define-color base07 #000000;
