@import url("/home/jhonatanrs/.config/wofi/colors.css");

* {
    border-radius: 15px;
    color:@base02;
    box-shadow: none !important;
}

#inner-box {
    background-color: alpha(aqua, 0);
}

#outer-box {
    background-color: alpha(red, 0);
    padding: 0 0 0 0;
    margin: 10 0 15 0;
}

window {
    font-size: 16px;
    font-family: "Caskaydia Mono Nerd Font";
    background-color: alpha(@base01, 0.9);
    color: @base02;
    border: 2px solid @base00;
}

#entry {
    border-radius: 0px;
    padding: 0.25em;
}

#entry:selected {
    background-color: alpha(@base00, 1);
    color: @base02;
    border-radius: 0;
}

#text:selected {
    color: @base02;
}

#input {
    background-color: alpha(@base01, 0);
    color: @base02;
    border-top: 0px solid @base02;
    border-bottom: 1px solid @base02;
    border-left: 0px solid @base02;
    border-right: 0px solid @base02;
    border-radius: 0;
    margin: 0 20 10 20;
}

image {
    margin-left: .25em;
    margin-right: .25em;
}
#scroll {
    box-shadow: none;
    border-bottom: none; 
    border-top: none; 
}
