* {
    border-radius: 15px;
    color:#ffffff;
}

#inner-box {
    background-color: alpha(aqua, 0);
}

#outer-box {
    background-color: alpha(red, 0);
    padding: 0 0 0 0;
    margin: 10 0 10 0;
}

window {
    font-size: 16px;
    font-family: "FreeMono";
    background-color: alpha(#333333, 0.9);
    color: "#ffffff";
    border: 3px solid alpha(#1793d1, 1);
}

#entry {
    border-radius: 0px;
    padding: 0.25em;
}

#entry:selected {
    background-color: alpha(#1793d1, 1);
    color: "#ffffff";
    border-radius: 0;
}

#text:selected {
    color: "#ffffff";
}

#input {
    background-color: alpha(#333333, 0);
    color: "#ffffff";
    border-top: 0px solid blue;
    border-bottom: 1px solid #ffffff;
    border-left: 0px solid blue;
    border-right: 0px solid blue;
    border-radius: 0;
    margin: 0 20 10 20;
}

image {
    margin-left: .25em;
    margin-right: .25em;
}
