[Desktop Entry]
Version=1.0
Type=Application
Name=Picom VSync
GenericName=jrs
Comment=Picom settings for VSync
Exec=bash picomsync.sh
Icon=picom
Path=.config/jrs
Terminal=false
