[Desktop Entry]
Version=1.0
Type=Application
Name=Power Profile
GenericName=jrs
Comment=Energy Profiles
Exec=bash powerprofiles.sh
Icon=xfce4-cpugraph-plugin
Path=.config/jrs
Terminal=false
