[Desktop Entry]
Version=1.0
Type=Application
Name=Shutdown
GenericName=jrs
Comment=Power WM Options
Exec=bash powerWm.sh
Icon=system-shutdown
Path=.config/jrs
Terminal=false
