@define-color base00 #c10b0b;
@define-color base01 #333333;
@define-color base02 #ffffff;
@define-color base03 #7d7d7d;
@define-color base04 #900000;
@define-color base05 #a08000;
@define-color base06 #ffffff;
@define-color base07 #000000;

window#waybar:first-child > box {
    background-color: alpha(@base01, 0.60);
}
