@import url("colors.css");

* {
    border: 0;
    border-radius: 0;
    font-family: "Caskaydia Mono Nerd Font";
    font-size: 12px;
    min-height: 0;
}

.modules-right {
    color: @base02;
    background: transparent;
    /*color: #444444;*/
}

window#waybar {
    background: transparent;
    color: @base02;
    margin: 0;
}

window#waybar:first-child > box {
    margin: 0;	/*default: 5*/
    padding: 0px 6px 0px 6px;
    border-radius: 0px; /*default: 6*/
    background-color: alpha(@base01, 0.60); /*default: alpha(@base01, 0.60);*/
}
#workspaces button {
    /*background-color: #fff000;*/
    padding: 5;
    padding-top: 10;
    border-bottom: 3px solid transparent;
    padding-bottom: 5;
    color: @base02;
}
#workspaces button.active {
    padding: 5;
    padding-top: 10;
    border-bottom: 3px solid @base00;
    padding-bottom: 5;
    color: @base02;
}
#workspaces button:hover {
    background: transparent;
}
#pulseaudio-slider slider {
    min-height: 2px;
    min-width: 2px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: @base04;
}
#pulseaudio-slider trough {
    min-height: 1px;
    min-width: 5px;
    border-radius: 5px;
    background-color: @base07;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @base06;
}
#battery.charging {
    color: @base02;
    background: transparent;
}
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio{
  min-width: 12px;
  margin: 0 7.5px;
}

